.product-list
{
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}
h1{
    color: blueviolet;
    text-align: center;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
}
.delete,.edit{
    padding: 12px;
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    box-shadow: 1px 1px 2px blueviolet;
    text-decoration: none;
}
