<div class="seller-auth">
    <div *ngIf='!showLoginSignuptoggle'class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)='SignUp(sellerSignUp.value)' class="common-form">
            <input class="form-input"type="text" ngModel name='name' placeholder="Enter Name">
            <input class="form-input"type="text" ngModel name='email' placeholder="Enter email">
            <input class="form-input"type="password" ngModel name='password' placeholder="Enter password">
            <button class="form-button">Sign-Up</button>
            <a class='auth-toggle-link'(click)=openLogin()>Already Have an account? Click to Login</a>
        </form>
    </div>
</div>

<!--Login for seller-->
<div  *ngIf='showLoginSignuptoggle'class="login">
    <h1>Seller Login</h1>
    <p  [ngClass]="authError!=='' ? 'error-p' : 'errop-p-no'">{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)='login(sellerLogin.value)' class="common-form">
        <input class="form-input"type="text" ngModel name='email' placeholder="Enter email">
        <input class="form-input"type="password" ngModel name='password' placeholder="Enter password">
        <button class="form-button">Login</button>
        <a class="auth-toggle-link"(click)=openSignUp()>Already Have an account? Click to Sign-Up</a>
    </form>
</div>